<section class="hp-home">
  <h3 class="page-heading">Medical Report</h3>
  <div class="patient-details" v-if="patientDetails">
    <div class="patient-image">
      <img src="../../assets/patient-image.png" height="100%" width="100%"/>
    </div>
    <div class="patient-name">{{patientDetails.firstName}} {{patientDetails.lastName}}</div>
    <div class="other-details">
      <div class="age-gender">
        <span class="light-text">Age: </span>
        <span class="dark-text">75  | </span>
        <span class="light-text">Gender: </span>
        <span class="dark-text">{{patientDetails.gender}}</span>
      </div>
      <div class="address">
        <span class="light-text">Address: </span>
        <span class="dark-text">4600 Rodeo Ln, Los Angeles, California(CA), 90016</span>
      </div>
      <div class="phone-email">
        <span class="light-text">Phone: </span>
        <span class="dark-text">{{patientDetails.mobile}}  | </span>
        <span class="light-text">Email: </span>
        <span class="dark-text">{{patientDetails.primaryEmail}}</span>
      </div>
    </div>
  </div>
  <div class="top-card-container">
    <div class="top-card">
      <div class="card-image">
        <img/>
      </div>
      <div class="card-heading">Goals</div>
      <div class="card-text">
        <p v-for="goal in goals">{{goal.goal}}</p>
        <!-- <p>I want to Lower my bp on priority</p>
        <p>I want to dance with my daughter on her wedding day</p> -->
      </div>
    </div>
    <div class="top-card">
      <div class="card-image">
        <img/>
      </div>
      <div class="card-heading">Daily Reminders</div>
      <div class="card-text">
        <p>Excercise for 30 mins a day</p>
        <p>Meditate every morning and night</p>
        <p>Drink atleast 3 litres of water</p>
      </div>
    </div>
  </div>
  
  <div class="white-card-container">
    <div class="white-card box">
      <div class="card-heading">Medication</div>
      <div class="card-data">
        <div class="medicines" v-for="med in medications">
          <p class="dark-text">{{med.medication}} {{med.dosage}}</p>
          <p class="light-text">{{med.instructions}}</p>
        </div>
        <!-- <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div> -->
      </div>
    </div>
    <div class="white-card box">
      <div class="card-heading">Supplements</div>
      <div class="card-data" v-if="supplements">
        <div class="medicines" v-for="sup in supplements">
          <p class="dark-text">{{sup.supplementName}}</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <!-- <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div> -->
      </div>
    </div><div class="white-card box">
      <div class="card-heading">Medication</div>
      <div class="card-data">
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
        <div class="medicines">
          <p class="dark-text">Protonix 40mg</p>
          <p class="light-text">Take 1 tablet from mouth</p>
        </div>
      </div>
    </div>
  </div>
  <div class="recommended-diet-container box">
      <div class="card-heading">Recommended Diet</div>
      <ul>
          <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
          <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
          <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
          <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
          <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
          <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
       </ul>
    </div>
  <div class="meals-container">
    <div class="meals box">
      <div class="card-heading">Meals</div>
      <div class="list-container">
        <div class="list-heading dark-text">Breakfast</div>
        <div class="list-text">
          <ul>
            <li class="light-text">2 Eggs</li>
            <li class="light-text">2 Toast</li>
            <li class="light-text">2 Eggs</li>
            <li class="light-text">1 cup Tea</li>
          </ul>
        </div>
      </div>
      <div class="list-container">
          <div class="list-heading dark-text">Lunch</div>
          <div class="list-text">
            <ul>
              <li class="light-text">2 Eggs</li>
              <li class="light-text">2 Toast</li>
              <li class="light-text">2 Eggs</li>
              <li class="light-text">1 cup Tea</li>
            </ul>
          </div>
        </div>
        <div class="list-container">
            <div class="list-heading dark-text">Dinner</div>
            <div class="list-text">
              <ul>
                <li class="light-text">2 Eggs</li>
                <li class="light-text">2 Toast</li>
                <li class="light-text">2 Eggs</li>
                <li class="light-text">1 cup Tea</li>
              </ul>
            </div>
          </div>
    </div>
    <div class="meals box">
        <div class="card-heading">Liquids</div>
        <div class="list-container">
          <div class="list-heading dark-text">Soda</div>
          <div class="list-text">
            <ul>
              <li class="light-text">2 Glasses</li>
            </ul>
          </div>
        </div>
        <div class="list-container">
            <div class="list-heading dark-text">Water</div>
            <div class="list-text">
              <ul>
                <li class="light-text">3 liter</li>
              </ul>
            </div>
          </div>
          <div class="list-container">
              <div class="list-heading dark-text">Fresh Juice</div>
              <div class="list-text">
                <ul>
                  <li class="light-text">2 glasses</li>
                </ul>
              </div>
            </div>
            <div class="list-container">
                <div class="list-heading dark-text">Fresh Juice</div>
                <div class="list-text">
                  <ul>
                    <li class="light-text">2 glasses</li>
                  </ul>
                </div>
              </div>
              <div class="list-container">
                  <div class="list-heading dark-text">Fresh Juice</div>
                  <div class="list-text">
                    <ul>
                      <li class="light-text">2 glasses</li>
                    </ul>
                  </div>
                </div>
                <div class="list-container">
                    <div class="list-heading dark-text">Fresh Juice</div>
                    <div class="list-text">
                      <ul>
                        <li class="light-text">2 glasses</li>
                      </ul>
                    </div>
                  </div>
                  <div class="list-container">
                      <div class="list-heading dark-text">Fresh Juice</div>
                      <div class="list-text">
                        <ul>
                          <li class="light-text">2 glasses</li>
                        </ul>
                      </div>
                    </div>
      </div>
  </div>
  <div class="vitals-container">
    <div class="card-heading">Vitals and Gut Score</div>
    <div class="vital-charts">
      <div class="chart box">
        <div class="card-heading">Weight</div>
          <hp-bar-chart
          :chartdata="chartdata"
          :options="options"/>
      </div>
      <div class="chart box">
        <div class="card-heading">Blood Pressure</div>
          <hp-bar-chart
          :chartdata="chartdata"
          :options="options"/>
      </div>
    </div>
  </div>
  <div class="pie-chart-container box">
      <div class="half-container">
          <hp-pie-chart
          :chartdata="pieChartData"
          :options="pieChartOptions"/>
      </div>
      <div class="half-container">
          <div class="circular-data">
            <span class="circled-number">97</span>
            <span class="circiled-text">Physical Age</span>
          </div>
          <div class="circular-data">
              <span class="circled-number">97</span>
              <span class="circiled-text">Physical Age</span>
            </div>
            <div class="circular-data">
                <span class="circled-number">97</span>
                <span class="circiled-text">Physical Age</span>
              </div>
      </div>
    </div>
  <div class="chart-container">
    <div class="chart">
      <div class="card-heading">Body Mass Index</div>
        <hp-bar-chart
        :chartdata="chartdata"
        :options="options"/>
    </div>
    <div class="chart">
        <div class="card-heading">Carbohydrates</div>
        <hp-bar-chart
        :chartdata="chartdata"
        :options="options"/>
    </div>
    <div class="chart">
        <div class="card-heading">Body Mass Index</div>
          <hp-bar-chart
          :chartdata="chartdata"
          :options="options"/>
      </div>
      <div class="chart">
          <div class="card-heading">Carbohydrates</div>
          <hp-bar-chart
          :chartdata="chartdata"
          :options="options"/>
      </div>
      <div class="chart">
          <div class="card-heading">Body Mass Index</div>
            <hp-bar-chart
            :chartdata="chartdata"
            :options="options"/>
        </div>
        <div class="chart">
            <div class="card-heading">Carbohydrates</div>
            <hp-bar-chart
            :chartdata="chartdata"
            :options="options"/>
        </div>
        <div class="chart">
            <div class="card-heading">Body Mass Index</div>
              <hp-bar-chart
              :chartdata="chartdata"
              :options="options"/>
          </div>
          <div class="chart">
              <div class="card-heading">Carbohydrates</div>
              <hp-bar-chart
              :chartdata="chartdata"
              :options="options"/>
          </div>
          <div class="chart">
              <div class="card-heading">Body Mass Index</div>
                <hp-bar-chart
                :chartdata="chartdata"
                :options="options"/>
            </div>
            <div class="chart">
                <div class="card-heading">Carbohydrates</div>
                <hp-bar-chart
                :chartdata="chartdata"
                :options="options"/>
            </div>
            <div class="chart">
                <div class="card-heading">Body Mass Index</div>
                  <hp-bar-chart
                  :chartdata="chartdata"
                  :options="options"/>
              </div>
              <div class="chart">
                  <div class="card-heading">Carbohydrates</div>
                  <hp-bar-chart
                  :chartdata="chartdata"
                  :options="options"/>
              </div>
              <div class="chart">
                  <div class="card-heading">Body Mass Index</div>
                    <hp-bar-chart
                    :chartdata="chartdata"
                    :options="options"/>
                </div>
                <div class="chart">
                    <div class="card-heading">Carbohydrates</div>
                    <hp-bar-chart
                    :chartdata="chartdata"
                    :options="options"/>
                </div>
  </div>
  </div>
</section>
